{% extends 'base.html' %} {% block content %}
<style>
  .login-wrapper {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
  }
  .form {
    width: 600px;
  }
</style>

{% if page == 'register' %}
<div class="container">
  <div class="login-wrapper">
    <div class="col-6 mx-auto mt-3">
      <form class="form-label" action="" method="POST">
        {% csrf_token %} {{ form.as_p }}

        <button class="btn btn-primary" type="submit">Sign Up</button>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
      </form>
    </div>
  </div>

  {% else %}
  <div class="login-wrapper">
    <div class="col-6 mx-auto">
      <form action="" method="POST">
        {% csrf_token %}
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="ayme@gmail..."
        />

        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password..."
        />

        <button class="btn btn-primary" type="submit">Login</button>
        <p>
          Don't have an account? <a href="{% url 'register' %}">Register</a>
        </p>
      </form>
    </div>
  </div>
</div>

{% endif %}
{% endblock content %}
